<header class="animated blog-cover fadeIn" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <h1 class="blog-title">陌上人如玉  公子侍小双</h1>
    <h2 class="blog-description">Now not Only for AngularJS, Node.JS, MongoDB...</h2>
</header>
