<div class="share">
    分享这篇文章到 <a id="Weibo" href="http://v.t.sina.com.cn/share/share.php?title={{encode title}}&amp;url={{url absolute='true'}}">微博</a>  or <a id="facebook" href="http://www.douban.com/share/service?href={{url absolute='true'}}&name={{encode title}}">豆瓣</a>
</div>
